.jumbotron{
    margin: auto 0;
    height: 200px;
   
    background-color: rgb(73, 73, 73);
    background-image: url(assests/img/moving-train-yves-gagnon.jpg);
    
     background-repeat: no-repeat;
     background-position:center;
    /* background-attachment: fixed;*/
}

h1,h3{
    padding: 15px;
       color: gainsboro;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#trainInfo_div{
   /* float: right;*/
    margin: 0px auto;
    background-color:rgb(255, 255, 255)
}
#formSection{
    /*width: 555px;*/
    margin: 15px 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#train_table{
    /*width:575px;*/
    margin: 25px 15px 25px 15px;
}
